body > md-toast {
  position: fixed;
}

.list-contact {
  color: #509ED2;
}

.list-contact:hover {
  text-decoration: none;
}

.search-container {
  width: 100%;
  margin-top: 40px;
}

.md-input-focused .search {
  color: #fff !important;
}

.search {
  cursor: pointer;
}

.input-search {
  width: 100%;
}

.mini {
  min-height: auto !important;
  min-width: auto !important;
  margin: auto !important;
}

[md-scroll-shrink] {
  position:fixed;
  top:0;
}

.fixed {
  position:fixed !important;
}

.left  {
  margin-left: 0 !important;
}

.img-wrap {
    position: relative;
    font-size: 0;
}

.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    /*background-color: #FFF;*/
    padding: 5px 2px 2px;
    color: rgb(255,87,34);
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 20px;
    border-radius: 50%;
}

/*.img-wrap:hover .close {
    opacity: 1;
}*/

.lf-icon.material-icons.myBrowse {
  color: #fff;
}

.myBrowse{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNSA2djExLjVjMCAyLjIxLTEuNzkgNC00IDRzLTQtMS43OS00LTRWNWMwLTEuMzggMS4xMi0yLjUgMi41LTIuNXMyLjUgMS4xMiAyLjUgMi41djEwLjVjMCAuNTUtLjQ1IDEtMSAxcy0xLS40NS0xLTFWNkgxMHY5LjVjMCAxLjM4IDEuMTIgMi41IDIuNSAyLjVzMi41LTEuMTIgMi41LTIuNVY1YzAtMi4yMS0xLjc5LTQtNC00UzcgMi43OSA3IDV2MTIuNWMwIDMuMDQgMi40NiA1LjUgNS41IDUuNXM1LjUtMi40NiA1LjUtNS41VjZoLTEuNXoiLz48L3N2Zz4=);
}

.myCaption{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIzLjIiLz48cGF0aCBkPSJNOSAyTDcuMTcgNEg0Yy0xLjEgMC0yIC45LTIgMnYxMmMwIDEuMS45IDIgMiAyaDE2YzEuMSAwIDItLjkgMi0yVjZjMC0xLjEtLjktMi0yLTJoLTMuMTdMMTUgMkg5em0zIDE1Yy0yLjc2IDAtNS0yLjI0LTUtNXMyLjI0LTUgNS01IDUgMi4yNCA1IDUtMi4yNCA1LTUgNXoiLz48L3N2Zz4=);
}

.star {
  visibility: hidden;
  font-size:30px;
  cursor:pointer;
  width: 20px;
  height: 20px;
  float: left;
  margin: 7px 7px 14px;
}
.star:before {
  content: "\E83A";
  font-family: "Material Icons";
  position: absolute;
  visibility:visible;
}
.star:checked:before {
  content: "\E838";
  font-family: "Material Icons";
  position: absolute;
  color: #2196F3;
}

[md-header-picture] {
    position: relative;
    width:100%;
    height:0; /* Simple trick to keep a 16:9 ratio on your background image (height=0;padding-bottom=56.25%) */
    padding-bottom: 56.25%;
    overflow:hidden;
    background-size:200%; /* You can override this value if your picture has a weird ratio */
    background-position:50% 50%;
}

[scroll] {
  position:fixed;
  top:0;
}

/* I made a simple scale animation on float action button during scroll */

.main-fab {
  position:absolute;
  left: calc(100% - 70px);
  z-index: 20;
  transform:scale(1,1);
  transition: transform .1s ease-out;
}

.main-fab.hide {
  transform:scale(0,0);
  transition: transform .1s ease-out;
}

/* Lines of code below are just here to get a better aspect but optionnal */
section {
  /*height: 1600px;*/
  height: 1000px;
}

i {
  font-size:24px;
}

.md-tools {
  width: 40px;
}

.muted {
color: #bbb;
font-size: inherit;
font-weight: 700;
text-align: left;
}

@media (min-width: 767px) {
  .md-tile-left {
    margin-right:0!important;
    padding-left:24px;
    color: rgb(63,81,181);
  }

  /* Toast style */
  md-toast.md-error-toast-theme .md-toast-content {
  	background-color: maroon !important;
  	color: #fff !important;
  }

  md-toast.md-top {
  	z-index: 10000;
  	margin-top: 5%;
  	text-align: center;
  	display:inline-block;
  	position:fixed;
  	left:50%;
  	overflow: visible;
  }

  .md-toast-content {
  	background-color: #f2f2f2 !important;
  	color: #768495 !important;
  	position:relative;
  	left:-50%;
  }
}
